#itemCon{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #64CCC5;
    color: #001C30;
    padding: 1rem;
    width: 15rem;
    height: 12rem;
    background-color: #176B87;
    letter-spacing: 0.05rem;
    border-radius: 1rem;
    margin: 1rem;
}

#itemCon:hover {
    border-color: #DAFFFB;
    color: #DAFFFB;
    cursor: pointer;
}

#itemCon span {
    color: #64CCC5;
}

#itemCon:hover span {
    color: #001C30;
}