#fullitem {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #69B0C1;
    color: #352D4D;
    padding: 1rem;
    width: 30rem;
    height: 25rem;
    background-color: #6D6192;
    letter-spacing: 0.05rem;
    border-radius: 1rem;
    margin: 1rem;
}

#fullwrapper {
    width: 30rem;
    position: absolute;
    display: block;
    margin-left: -15rem;
    margin-top: -10rem;
    left: 50%;
    top: 50%;
}

#fullitem button {
    width: 10rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #352D4D;
    color: #69B0C1;
    border: none;
    margin: 1rem;
}

#fullitem button:hover {
    cursor: pointer;
    border-style: solid;
    border-color: #92E0A9;
}



#fullitem span {
    color: #69B0C1;
}

#fullitem input {
    color: #69B0C1;
    outline-color: #69B0C1;
    border-radius: 1rem;
    height: 1rem;
    padding-left: 1rem;
    border-color: #69B0C1;
    background-color: #352D4D;
}

#fullitem input::placeholder {
    color: #69B0C1;
}

#fullitem textarea {
    color: #69B0C1;
    outline-color: #69B0C1;
    border-radius: 1rem;
    height: 4rem;
    width: 20rem;
    margin-top: 1rem;
    padding-left: 1rem;
    border-color: #69B0C1;
    background-color: #352D4D;
    resize: none;
}

#fullitem textarea::placeholder {
    color: #69B0C1;
}